.Nbar {
  box-sizing: border-box;
  margin: 0;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Akaya Kanadaka", cursive;
  background: linear-gradient(
    to right,
    #387cff,
    #72a2ff,
    #8bcdff,
    #72a2ff,
    #387cff
  );
  font-size: 15px;
}
.fa-biohazard {
  border-radius: 100px;
  margin: 5px;
  font-size: 25px;
  cursor: pointer;
}
.logo {
  background: -webkit-linear-gradient(rgb(0, 0, 0), rgb(110, 7, 179));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 20px;
  cursor: pointer;
  justify-self: start;
  font-family: "Sansita Swashed", cursive;
}
.fa-times,
.fa-bars {
  color: white;
  margin-left: 20px;
  cursor: pointer;
}
.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vw;
  font-size: 1.2rem;
  justify-content: center;
  margin-right: 2rem;
  margin-top: 0.5rem;
}
.nav-links {
  color: white;
  text-decoration: none;
  padding: 0.5rem;
}
.nav-links:hover {
  background-color: rgb(79, 161, 255);
  border-radius: 10px;
  transition: all 0.2s ease-in;
}
.nav-links-mobile {
  display: none;
}
.menuIcon {
  display: none;
}
@media screen and (max-width: 950px) {
  .Nbar {
    position: relative;
  }
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    position: absolute;
    top: 32px;
    left: -100%;
    opacity: 1;
    transition: all 0.5 ease;
  }
  .nav-menu.active {
    background: linear-gradient(
      to right,
      #387cff,
      #72a2ff,
      #8bcdff,
      #72a2ff,
      #387cff
    );
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }
  .nav-links:hover {
    background-color: linear-gradient(to left, #5aff7d);
    border-radius: 10px;
  }
  .logo {
    position: absolute;
    top: 10;
    left: 0;
    transform: translate(250, 50%);
  }
  .menuIcon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1, 8rem;
    cursor: pointer;
  }
}
